@charset "UTF-8";

#main .main_right .tar p{
    padding-left: 10px;
}

#main .main_right .face img{
    display: block;
}


.uploadify{
margin: 10px 0 10px 42px;
}

.face{
    margin:10px 0 10px 10px;
}


