@charset "UTF-8";

/*
自定义jquery UI 皮肤
*/

.ui-dialog{
    border-radius: 0;
    border:none;
    padding:0;
    overflow: visible;
}

.ui-dialog-titlebar{
    background: #267cbe;
    border:none;
    border-radius: 0;
    color: #fff3f3;
    font-weight:normal;
}

button.ui-button:nth-child(1){
    height: 35px;
    background: #267cbe;
    color: #fff3f3;
}
button.ui-button:nth-child(1):hover{
    background: #050b0c;
    color: #eecd34;
    text-shadow: 3px -3px 3px #ba8d3a;
}

body{
    padding:0;
    margin:0;
    height: 100%;
    background: #43a866;
    /*background: url("../img/login_bg1.jpg")no-repeat;*/
    /*background-size:cover;*/
}

#header{
    width:198px;
    height: 60px;
    background: url(../img/Logo.png);
    margin:0 auto;
    position: relative;
    top: 150px;
}

#main{
    text-align: center;
    position:relative;
    top: 200px;
}

#login input[type='text'],
#login input[type='password']{
    width: 250px;
    height:25px;
    line-height: 25px;
    background: #000;
    border:1px solid #d2d2d2;
    color: #fff;
    font-size:18px;
    font-family: Tahoma, monospace;
    padding:12px;
    border-radius: 10px;

}

#login input[type='submit']{
    width:150px;
    height:50px;
    position: relative;
    top:-4px;
    font-size:24px;
    font-family:黑体,fantasy;
    background: #267cbe;
    border:none;
}
#login input[type='submit']:hover{
    background: #050b0c;
    color: #eecd34;
    text-shadow: 3px -3px 3px #ba8d3a;
}

#login .bottom{
    width:380px;
    margin:0 auto;
    text-align: right;
    color: #fff;
    font-size:14px;
    text-shadow: 2px -2px 1px #333;
    
}

#login span{
    display: inline-block;
    position: relative;
    width: 270px;
    margin-right:20px;

}

#login label.error{
    position: absolute;
    top: 6px;
    right: -8px;
    color: #9B410E;
    margin: 10px;
}

#login .bottom a{
    color: #eee;
    text-decoration: none;
}
#login .bottom a:hover{
    color: #ee970f;
    text-decoration: underline;
}

#footer{
    height:40px;
    background: #eee;
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    opacity:0.4;
    -moz-opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}

.footer_text{
    height:40px;
    line-height:70px;
    position:absolute;
    bottom:0;
    font-size:14px;
    width:100%;
    text-align: center;
    color: #fff3f3;

}

#register form P input.text{
    width:270px;
    height: 25px;
    border:1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 5px;

}





span.star{
    color: #ee0b0b;
}

span.succ{
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url('../img/success.gif');
}

span.loading{
    display: inline-block;
    width:16px;
    height:16px;
    background: url('../img/loading_form.gif');
}


/*
设置input框内的placeholder的字体属性
*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #8b8b8b;
    opacity:0.4;
    font-size: 15px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #939393;
    opacity:0.5;
    font-size: 15px;
}

input:-ms-input-placeholder{
    color: #979797;
    opacity:0.5;
    font-size: 15px;
}

input::-webkit-input-placeholder{
    color: #919191;
    opacity:0.5;
    font-size: 15px;
}


ol.reg_error{
    background: #222222;
    color: #774b0c;
    list-style: circle;
    font-size:12px;
    padding: 0 0 0 20px;
    margin:0;
}

ol.reg_error li{
    line-height: 20px;
}


#loading{
    height: 24px;
    width:24px;
    background: url('../img/loading.gif') no-repeat 10px center ;
    padding-left:40px ;
    background-color: #050b0c;
    color: #9B410E;
    opacity: 0.9;
    font-size: 17px;
}


#verify_register P input.text{
    width:85px;
    height: 25px;
    border:1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 5px;

}

#verify_register p label,a{
    font-size: 15px;
}

#verify_register .changeimg:hover{
    cursor: pointer;
}

#verify_register p {
    text-align: center;
}

#verify_register p img{
    height: 50px;
}

ol.ver_error{
    background: #222222;
    color: #774b0c;
    list-style: circle;
    font-size:12px;
    padding: 0 0 0 20px;
    margin:0;
}

ol.ver_error li{
    line-height: 16px;
}

